img {
    height: auto;
    width: 300px;
    border-radius: 20px;

}
body {
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    /* justify-content: space-between; */
    padding-left: 16px;
    padding: 10px;
    align-items: center;
    /* color: white; */

}

h1 {
    font-size: 24px;
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  
}
header {
    background-color: #1f2937;
    /* font-size: 18px; */
    color: white;
    

}
.intro {
    padding-left: 16px;
    font-size: 48px;
    font-weight: bolder;
    /* display: flex; */
    /* align-items: flex-start;
    align-content: flex-start; */
    
}
.subtitle {
    padding-left: 15px;
    flex-wrap: wrap;
    margin: 10px;

    /* display: flex; */
    /* justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; */
}

/* .intro,.subtitle {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 100px 1 0;
} */

.signup {
    padding-left: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    list-style: none;

}
.one {
    background-color: #1f2937;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.half {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    /* flex-wrap: wrap; */
    /* align-items: space-between; */

}


button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;

}


.brand {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: wrap;

}

 .two {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 100%;
    margin: 10px;
 }

.center {
    display: flex;
    align-self: flex-start;
    padding: 40px;
    flex: 1;
}


    /* use border style, radius, and color when adding borders to imgs
    border-style: solid;
    border-radius: 25px;
    border-color: #3882f6; */

 
.random {
    font-size: 36px;
    font-weight: bold;
    /* color: #1f2937; */
    display: flex;
    justify-content: flex-start;
    align-self: center;
   
}

 .three {
    background-color:#e5e7eb;
    font-style: italic;
    font-size: 26px;
    padding-left: 16px;
    color: #1f2937;
    display: flex;
    padding: 20px;
    justify-content: center;
 }

 .action {
    background-color:#3882f6;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* margin: 15px; */
    /* padding: 10px; */


 }


 .call,.enroll,.button {
    margin: 5px;
    /* background-color: #3882f6; */
 }

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}




