img {
    height: auto;
    width: 300px;

}
.top {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header {
    background-color: #1f2937;
    font-size: 18px;
    flex: 1;

}
h1 {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    justify-content: space-evenly;

}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;

}

.one {
    background-color: #1f2937;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
 /* need to find a way to get the this website is awesome part to stay on the left side */

 .two,.three {
    display: flex;
    padding: 20px;
 }

 .three {
    background-color:#e5e7eb;
 }

 .action {
    background-color:#3882f6;
    color: white;
    display: flex;
    justify-content: center;
 }

 .button {
    display: flex;

 }

 .enroll {
    display: flex;
    justify-content: flex-start;
 }




