img {
    height: auto;
    width: 300px;
    border-radius: 20px;

}
body {
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 24px;
}



a {
    text-decoration: none;
    color: white;
    padding: 0 15px;

}
.one {
    background-color: #1f2937;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}


header, main {
    background-color: #1f2937;
    /* font-size: 18px; */
    color: white;
    

}
h2 {

    font-size: 48px;
    font-weight: bolder;
    /* display: flex; */
    /* align-items: flex-start;
    align-content: flex-start; */
    
}

p {
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    /* flex: 1; */
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.signup {
    padding-bottom: 40px;

}


button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;

}

.intro-left {
    width: 50%;
}

.brand {
    padding-top: 25px;

}

 section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
 }

#center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}
.caption {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;



}

    /* use border style, radius, and color when adding borders to imgs
    border-style: solid;
    border-radius: 25px;
    border-color: #3882f6; */

 
h3 {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-self: center;
   
}

 .three {
    background-color:#e5e7eb;
    font-style: italic;
    font-size: 26px;
    padding-left: 16px;
    color: #1f2937;
    display: flex;
    padding: 70px;
    justify-content: center;
 }

 .action {
    background-color:#3882f6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    padding: 0px;
    width: 40%;
    margin: 50px;
 }

 .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }

 .button {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10%;
 }

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}




